<%= render 'layouts/admins/error_message', resource: @member_level %>
<h1 class="text-center text-dark">Add Members level</h1>
<%= render partial: 'form', locals: { member_level: @member_level, path: admins_member_levels_path } %>