<%= render "users/shared/error_messages", resource: @address %>
<h1 class="text-center text-white">Edit Address</h1>
<%= render partial: 'form', locals: { address: @address, path: users_profile_address_path } %>
<%= render 'layouts/users/footer_profile' %>