<div class="d-flex justify-content-center align-content-center">
  <% if resource.errors.any? %>
    <%= content_tag :alert, class: 'badge alert alert-primary mx-1' do %>
      <% resource.errors.full_messages.each do |message| %>
        <%= message %>.
      <% end %>
    <% end %>
  <% end %>
</div>
