<% if resource.errors.any? %>
  <% resource.errors.full_messages.each do |message| %>
    <p class="text-center"><%= content_tag :alert, message, class: 'badge alert alert-primary' %></p>
  <% end %>
<% end %>
