<%= render 'layouts/users/header' %>
<div class="d-flex justify-content-center align-content-center">
  <div class="col-auto">
    <div class="card">
      <div class="card-body">
        <%= @svg.html_safe %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="d-flex justify-content-center align-content-center">
  <div class="col-auto">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-center align-content-center">
          <p>
            <span><%= @url %></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/users/footer_invite' %>