<%= render 'layouts/admins/error_message', resource: @category %>
<h1 class="text-center">Edit <%= @category.name %></h1>
<%= render partial: 'form', locals: { category: @category, path: admins_category_path } %>
