<%= render 'layouts/admins/error_message', resource: @category %>
<h1 class="text-center">Add Category</h1>
<%= render partial: 'form', locals: { category: @category, path: admins_categories_path } %>
