<%= render 'layouts/admins/error_message', resource: @item %>
<h1 class="text-center text-dark">Edit <%= @item.name %></h1>
<%= render partial: 'form', locals: { item: @item, path: admins_item_path } %>