<div class="d-flex justify-content-center align-content-center">
  <% if resource.errors.any? %>
    <% resource.errors.full_messages.each do |message| %>
      <%= content_tag :alert, message, class: 'badge alert alert-primary mx-1' %>
    <% end %>
  <% end %>
</div>
