<%= render 'layouts/admins/error_message', resource: @news_ticker %>
<h1 class="text-center text-dark">Edit <%= @news_ticker.content %></h1>
<%= render partial: 'form', locals: { news_ticker: @news_ticker, path: admins_news_ticker_path } %>