<%= render 'layouts/admins/error_message', resource: @news_ticker %>
<h1 class="text-center text-dark">Add New Ticker</h1>
<%= render partial: 'form', locals: { news_ticker: @news_ticker, path: admins_news_tickers_path } %>