<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Brand Image</a>
    <form class="d-flex p-1">
      <button class="btn btn-outline-success mx-1 " type="submit">Coins</button>
      <button class="btn btn-outline-success mx-1" type="submit">Claim</button>
      <button class="btn btn-outline-success mx-1" type="submit">Language</button>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          =
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <button class="dropdown-item" type="button">Action</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">Another action</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">Something else here</button>
          </li>
        </ul>
      </div>
    </form>
  </div>
</nav>